<?xml version= "1.0"   encoding= "utf-8"   ?>
<nlog xmlns= "http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance" >
  <targets>
    <target xsi:type= "File"   name= "applogfile"      layout= "记录时间:${longdate} | 级别:${level} | 类:${callsite} | 描述:${message} ${exception}"   fileName= "${basedir}/Logs/${logger:shortName=True}/${shortdate}.log"  />
    <target xsi:type= "File"   name= "errorlogfile"    layout= "记录时间:${longdate} | 级别:${level} | 类:${callsite} | 描述:${message} ${exception}"   fileName= "${basedir}/Logs/${logger:shortName=True}/Error/${shortdate}.log"  />
  </targets>
  <rules>
    <logger  name= "*"   minlevel= "Trace"   writeTo= "applogfile" />
    <logger  name= "*"   minlevel= "Error"   writeTo= "errorlogfile" />
  </rules>
</nlog>
