<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="webDesKey" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <webDesKey>
    <add key="web" value="bab678969811434799b4e962e1697ab9" />
    <add key="app" value="ba4009b69b73404f9f36cbd5e5c4dbda" />
    <add key="wap" value="bb8cd5d24cdf4160937a9c4148723a91" />
  </webDesKey>
  <appSettings>
    <!--NLog配置文件路径-->
    <add key="NlogConfig" value="D:\GitHub\WebProxy.Net\WebProxy.Net\NLog.config"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>